@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
:root {
  --main-bg-color: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --spec-key-background: hsl(225, 21%, 49%);
  --spec-key-shadow: hsl(224, 28%, 35%);
  --spec-key-hover: hsl(225, 39%, 66%);
  --equal-key-background: hsl(6, 63%, 50%);
  --equal-key-background-shadow: hsl(6, 70%, 34%);
  --equal-key-hover: hsl(5, 62%, 61%);
  --key-background: hsl(30, 25%, 89%);
  --key-background-shadow:hsl(28, 16%, 65%);
  --key-background-hover:white;
  --text: hsl(221, 14%, 31%);
  --text-alternate: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root:has(#first:checked) {
  --main-bg-color: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --spec-key-background: hsl(225, 21%, 49%);
  --spec-key-shadow: hsl(224, 28%, 35%);
  --spec-key-hover: hsl(225, 39%, 66%);
  --equal-key-background: hsl(6, 63%, 50%);
  --equal-key-background-shadow: hsl(6, 70%, 34%);
  --equal-key-hover: hsl(5, 62%, 61%);
  --key-background: hsl(30, 25%, 89%);
  --key-background-shadow:hsl(28, 16%, 65%);
  --key-background-hover:white;
  --text: hsl(221, 14%, 31%);
  --text-alternate: white;
}

:root:has(#second:checked) {
  --main-bg-color: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 5%, 81%);
  --spec-key-background: hsl(185, 42%, 37%);
  --spec-key-shadow: hsl(185, 58%, 25%);
  --spec-key-hover: hsl(185, 36%, 53%);
  --equal-key-background: hsl(25, 98%, 40%);
  --equal-key-background-shadow: hsl(25, 99%, 27%);
  --equal-key-hover: hsl(25, 92%, 60%);
  --key-background: hsl(45, 7%, 89%);
  --key-background-shadow:hsl(35, 11%, 61%);
  --key-background-hover:white;
  --text: hsl(60, 10%, 19%);
  --text-alternate: hsl(60, 10%, 19%);
}

:root:has(#third:checked) {
  --main-bg-color: hsl(268, 75%, 9%);
  --keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --spec-key-background: hsl(281, 89%, 26%);
  --spec-key-shadow: hsl(285, 91%, 52%);
  --spec-key-hover:hsl(285, 44%, 45%);
  --equal-key-background: hsl(176, 100%, 44%);
  --equal-key-background-shadow: hsl(177, 92%, 70%);
  --equal-key-hover: hsl(177, 92%, 70%);
  --key-background: hsl(268, 47%, 21%);
  --key-background-shadow:hsl(290, 70%, 36%);
  --key-background-hover:rgb(124, 0, 181);
  --text: hsl(52, 100%, 62%);
  --text-alternate: hsl(52, 100%, 62%);
  --text-third: hsl(198, 20%, 13%);
}
:root:has(#third:checked) #selector {
  background-color: var(--equal-key-background);
}
:root:has(#third:checked) #selector:hover {
  background-color: var(--equal-key-hover);
}
:root:has(#third:checked) .equals {
  color: var(--text-third);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  font-family: "League Spartan";
  height: 98vh;
}

.container {
  background-color: var(--main-bg-color);
  width: 500px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-alternate);
}
.top-menu .name {
  color: var(--text-alternate);
  font-size: 2rem;
}
.top-menu .theme {
  display: flex;
  gap: 2rem;
}
.top-menu .theme .switch-label {
  display: flex;
  margin-top: -0.5rem;
  justify-content: space-evenly;
}
.top-menu .theme .switch-label label {
  color: var(--text-alternate);
  width: 2ch;
  padding: 0 0.325rem;
  cursor: pointer;
}
.top-menu .theme .switch-radios {
  background-color: var(--keypad-background);
  border-radius: 1rem;
  padding: 0.325rem;
  position: relative;
  cursor: pointer;
}
.top-menu .theme .switch-radios input {
  opacity: 0;
  cursor: pointer;
}
.top-menu .theme .switch-radios #selector {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 5px;
  position: absolute;
  background-color: var(--equal-key-background);
  z-index: 1000;
  transition: margin-left 0.3s ease-in-out;
}
.top-menu .theme .switch-radios #selector:hover {
  background-color: var(--equal-key-hover);
}

.first {
  margin-left: 2px;
}

.second {
  margin-left: 27px;
}

.third {
  margin-left: 52px;
}

.small {
  font-size: 1.5rem;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.25rem;
  background-color: var(--screen-background);
  height: 100px;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  color: var(--text-alternate);
  font-size: 3rem;
}
.screen .previous-operand {
  font-size: 1.5rem;
}

.button-container {
  background-color: var(--keypad-background);
  padding: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-areas: "a b c d" "a b c d" "a b c d" "a b c d" "a b";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.key {
  background-color: var(--key-background);
  font-size: 2rem;
  margin: 0.75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text);
  border-bottom: 4px solid var(--key-background-shadow);
  cursor: pointer;
}
.key:hover {
  background-color: var(--key-background-hover);
}

.del {
  background-color: var(--spec-key-background);
  border-bottom: 3px solid var(--spec-key-shadow);
  color: white;
}
.del:hover {
  background-color: var(--spec-key-hover);
}

.reset {
  background-color: var(--spec-key-background);
  color: white;
  grid-column-start: 1;
  border-bottom: 3px solid var(--spec-key-shadow);
  grid-column-end: 3;
}
.reset:hover {
  background-color: var(--spec-key-hover);
}

.equals {
  background-color: var(--equal-key-background);
  color: white;
  grid-column-start: 3;
  grid-column-end: 5;
  border-bottom: 3px solid var(--equal-key-background-shadow);
}
.equals:hover {
  background-color: var(--equal-key-hover);
}/*# sourceMappingURL=styles.css.map */